.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-header {
  color: purple;
  font-size: 24px;
  margin-bottom: 20px;
}

.auth-form {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 5px;
  color: purple;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.auth-button {
  width: 100%;
  padding: 10px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #8a2be2;
}

.toggle-text {
  margin-top: 10px;
  text-align: center;
  color: purple;
}

.toggle-button {
  background: none;
  border: none;
  color: purple;
  font-weight: bold;
  cursor: pointer;
}

.toggle-button:hover {
  text-decoration: none;
  transform-box: fill-box;
  background-color: #8a2be2;
  transition: all .3s ease-in-out;
  color: white;
}

.button {
  border-radius: 10px;
  padding: 15px;
}

.button-prop {
  width: 100%;
  padding-top: 20px;
}

.error {
  color: red;
  margin-top: -15px;
}